<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="PATTERN">TIME=%d{dd.MM.yyyy HH:mm:ss} THREAD=%t LEVEL=%-5level LOGGER=%logger{36}
            METHOD=%C.%M:%n%msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>